*{
    margin: 0;
    padding: 0;
}

#top{
    width: 400px;
    height: 450px;
    border: 15px solid purple;
    margin: 0 auto;
    border-radius: 25px;
    padding-top: 20px;
    margin-top: 100px;
    background: steelblue;
    
    }
    h1{
        position: relative;
        padding-left: 40px;
        font-family: 'Shrikhand', cursive;
    }
    p{
        padding-left: 15px;
        margin-left: 20px;
        font-weight: bold;
    }
    .code{
    margin-top: 45px;
    padding-left: 120px;
    font-weight: bold;
    }
    input{
    margin-left: 20px;
    height: 20px;
    width: 
    }
    .new{
        padding-left: 150px;
    }
    #reset{
        margin-left: 150px;
        margin-top: 100px;
        font-weight: bold;;
        width: 100px;
        height: 60px;
        border-radius: 25px;
        color: white;
        background: black;
    }
    #p1{
       
        width: 100px;
        height: 40px;
        border: 1px solid orange;
        font-weight: bold;
        background: black;
        color: white;
    }
    #p2{
        
            width: 100px;
            height: 40px;
            border: 1px solid orange;
            font-weight: bold;
            background: black;
            color: white;
           
    }